<p-menubar [model]="items" styleClass="estilos">
    <ng-template pTemplate="start">
        <span class="color">
            <img src="../assets/img/logov.png" height="40" class="mr-2" />
        </span>
    </ng-template>
    <ng-template pTemplate="end">
        <div class="d-flex align-items-center me-5">
            <i class="pi pi-user me-2" style="color: #000000"></i>
            <p class="text-black m-0">sebastian Mera</p>
            <i class="pi pi-angle-down ms-2" style="color: #000000"></i>
        </div>
        
    </ng-template>
</p-menubar>
