
<div class="card flex justify-content-center" style="border: none;">
    <p-sidebar [(visible)]="sidebarVisible">
        <h3><a href="" class="text-decoration-none text-reset"><i class="fa-brands fa-usb fa-1x m-3"></i>Puertos</a></h3>
        <h3><a href="" class="text-decoration-none text-reset"><i class="fa-brands fa-windows fa-1x m-3"></i>Aplicaciones</a></h3>
        <h3><a href="" class="text-decoration-none text-reset"><i class="fa-sharp fa-solid fa-book fa-1x m-3"></i>Catalogos</a></h3>

    </p-sidebar>
    <p-button (click)="sidebarVisible = true" icon="pi pi-arrow-right"></p-button>
</div>
