<div class="container-fluid">
  <app-nav></app-nav>
<app-breadcrum></app-breadcrum>

<div class="row" style="margin-left: 50px;">
  <div class="col-12">
    <div class="row" style="margin-right: 150px;">
      <div class="col-6">
        <h2 class="m-5">Gestión de Aplicaciones</h2>
        <h5 class="m-5">Bienvenido Leonardo Bocón</h5>
      </div>
      <div class="col-6 d-flex justify-content-end mt-5">
        <i class="fa-sharp fa-solid fa-house-chimney fa-5x" style="color: #3f51b5;"></i>
      </div>
    </div>
  </div>
</div>

<div class="grid" style="margin-right: 50px; margin-left: 30px; margin-bottom:80px;">
  <div class="col-12">
    <hr class="w-100 border-4" style="color: blue; ">
  </div>
</div>
<div class="row m-5">
  <div class="col-md-4 d-flex justify-content-center mt-4">
    <p-card [style]="{ width: '200px' }">
      <ng-template pTemplate="header">
        <i class="fa-brands fa-usb fa-8x d-flex justify-content-center"></i>
      </ng-template>
      <div class="d-flex justify-content-center align-items-center">
        <p-button label="Puertos"></p-button>
      </div>
    </p-card>
  </div>
  <div class="col-md-4 d-flex justify-content-center mt-4">
    <p-card [style]="{ width: '200px' }">
      <ng-template pTemplate="header">
        <i class="fa-brands fa-windows fa-8x d-flex justify-content-center"></i>
      </ng-template>
      <div class="d-flex justify-content-center align-items-center">
        <p-button label="Aplicaciones"></p-button>
      </div>
    </p-card>
  </div>
  <div class="col-md-4 d-flex justify-content-center mt-4">
    <p-card [style]="{ width: '200px' }">
      <ng-template pTemplate="header">
        <i class="fa-sharp fa-solid fa-book fa-8x d-flex justify-content-center"></i>
      </ng-template>
      <div class="d-flex justify-content-center align-items-center">
        <p-button label="Catalogo"></p-button>
      </div>
    </p-card>
  </div>

</div>
</div>
